*.dylib
*.os
*.pyc
*.so

.sconf_temp
.sconsign.dblite
config.log

doc/html
doc/doxygen.conf
doc/drp_stella.tag

python/pfs/drp/stella/stellaLib.py
python/pfs/drp/stella/stellaLib_wrap.cc
python/pfs/drp/stella/version.py

tests/.tests/

ups/drp_stella.cfgc
